<web-app xmlns="http://java.sun.com/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
          version="2.5">    
 
    <display-name>Porters Sample</display-name>
 
    <servlet>
        <servlet-name>porter</servlet-name>
        <servlet-class>com.wmsbox.porters.overseer.PorterServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>porter</servlet-name>
        <url-pattern>/porter</url-pattern>
    </servlet-mapping>
 
    <context-param>
        <param-name>overseer-patron-port</param-name>
        <param-value>8888</param-value>
    </context-param>
    
    <welcome-file-list>
        <welcome-file>porter</welcome-file>
    </welcome-file-list>
    
    <listener>
        <listener-class>com.wmsbox.porters.overseer.ContextLoaderListener</listener-class>
    </listener>
</web-app>